*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    width: 100%;
    max-height: 100vh;
    background-color: rgb(219, 228, 228);
}
h1 {
    display: flex;
    justify-content: center;
    color:rgba(217, 174, 230, 0.842);
    font-size: 180px;
    margin-top: 100px;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    padding: 15px;
    border: none;
    width: 80%;
    margin-top: 50px;
}
form ::placeholder{
    color: darkgrey;
    font-size: 20px;
}
ul li {
    font-size: 20px;
    padding: 15px;
    border-top: 1px solid #ccc;
    color: rgb(50, 47, 47);
}

body > div {
    width: 450px;
    margin: 0 auto;
}

ul{
    width: 80%;
    background-color: white;
    margin: 0 auto;
}

li.completed {
    opacity: 0.3;
    text-decoration: line-through;
}